<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>JS_HW8</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <form action="" name="requestForm" id='requestForm'>
        <input type="text" placeholder="Что ищем?" id="requestInput">
        <button type="submit" id="submitButton">поехали!</button>
    </form>
    <div class="buttons">
        <button class="popular-Btn">Popular</button>
        <button class="latest-Btn">Latest</button>
        <button class="toprated-Btn">Top-rated</button>
    </div>
    
    <ul id="galery-container">

    </ul>
    
    <script type="text/lodash" id="galery-item">
    <li>
        <img src="<%- posterUrl %>" alt="poster"> 
        <h2><%- title %></h2>    
<p>
    <%- description.substr(0,100) %>
</p>
        <p>Release date: <%- date %></p>    
        <p>Rating: <%- rating %></p>
    </li>
    </script>
    

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>